/* this is a css comment */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: aqua;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

/* change list-style-type to square */
div>ul {
    list-style-type: square;
}

.hobbies li:nth-child(odd){
    background: plum;
}