html {
    font-size: 16px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #aad4cf;
    line-height: 1.4;
    background-size: cover;
    margin: 0;
}


.wrapper {
    background-color: rgb(200, 241, 233);
    width: 1024px;
    margin: auto;
}

header h1 {
    position: absolute;
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
    padding: 20px;
    top: 100px;
    left: 300px;
}

.wrap {
    position: relative;
    text-align: center;
}


header image {
    width: 1024px;
    background-image: url(.img/lone-starfish-wide.jpg);
    background-size: cover;
    position: relative;
}



nav li {
    text-transform: uppercase;
    display: inline-block;
    border-right: 2px solid #333;
    font-size: large;
    width: 320px;
    text-align: center;
}


nav li:last-child {
    border-right: none;
}

article img {
    width: 200px;
    height: auto;
    float: left;
    margin: 1rem;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.fieldset {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}


input[type=text] {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
}

footer {
    text-align: right;
}