.container {
    max-width: 1200px;
}

/* common style */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.wrap {
    background-color: #222;
}

.wrap ul img {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}


.wrap ul li {
    list-style: none;
    padding-left: 0%;
    font-size: 1.5rem;
    text-align: center;
}

.wrap ul li a{
    text-decoration: none;
    color: #c78c06;
    line-height: 3;
    font-size: 22px;
}

li:hover {
    background-color: #c78c06;
}

.wrap li input {
    width: calc(90% - 80px); 
    padding: 10px; 
    padding-left: 5px;
    border: 1px solid white; 
    background-color: #fff; 
    color: #333; 
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.wrap li button {
    background-color: #222; 
    border: 2px solid #c78c06;
    color: #c78c06; 
    padding: 10px 10px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    margin-left: 10px; 
    cursor: pointer; 
    position: absolute;
    margin-bottom: 10px;
}


.wrapper img {
    max-width: 100%;
    height: auto;
}

.wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper ul li {
    margin: 0;
    padding: 0;
}


/* Welcome to Three Star Media */

.wrap1 {
    position: relative;
    width: 100%;
}

.wrap1 img {
    width: 100%;
    height: auto;
    display: block;
}

.box {
    width: 760px;
    height: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 20px; 
    max-width: 100% 
}

.box h1 {
    font-size: 4rem 
}

.box p {
    font-size: 1rem; 
    text-align: left; 
}

.box a {
    background-color: #c78c06; 
    color: #222; 
    padding: 25px 25px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    position: absolute;
}

/* About us */
.section-about {
    background-color: #ffe6ac; 
    padding: 20px; 
    margin-top: -40px;
}

.section-about img {
    width: 100%; 
    height: auto;
    display: block; 
    margin-bottom: 20px; 
}

.section-about .about {
    color: black; 
}

.section-about h2 {
    font-size: 3rem; 
    margin-bottom: 10px; 
}

.section-about p {
    font-size: 1rem; 
    line-height: 1.5; 
    margin-bottom: 10px; 
}



/* Our Services */
.our-services h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}


/* gird */
.services-container {
    grid-template-columns: 1fr; 
  }


/* Digital Transformation */
.services1 {
    background-color: #ffe6ac; 
    border: none; 
    margin-bottom: 20px;
}

.services1 img {
    width: 100%;
    height: auto;
    display: block;
}

.digital-image {
    width: 100%;
}

.digital-image img {
    width: 100%;
    height: auto;
    display: block;
}

.services1 h3 {
    font-size: 2rem;
    margin-left: 10px;
}

.services1 p {
    margin-left: 10px;
}

.digital button {
    background-color: #222; 
    color: white; 
    border: none; 
    padding: 30px 30px; 
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Marketing */
.services2 {
    background-color: #ffe6ac; 
    border: none; 
    margin-bottom: 20px;
}

.services2 img {
    width: 100%;
    height: auto;
    display: block;
}

.marketing h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.marketing p {
    margin-left: 10px;
}

.marketing button {
    background-color: #222; 
    color: white; 
    border: none; 
    padding: 30px 30px; 
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Video Production */
.services3 {
    background-color: #ffe6ac; 
    border: none; 
    margin-bottom: 20px;
}

.services3 img {
    width: 100%;
    height: auto;
    display: block;
}

.video h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.video p {
    margin-left: 10px;
}

.video button {
    background-color: #222; 
    color: white; 
    border: none; 
    padding: 30px 30px; 
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Web Development */
.services4 {
    background-color: #ffe6ac; 
    border: none; 
    margin-bottom: 20px;
}

.services4 img {
    width: 100%;
    height: auto;
    display: block;
}

.web h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.web p {
    margin-left: 10px;
}

.web button {
    background-color: #222; 
    color: white; 
    border: none; 
    padding: 30px 30px; 
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Print */
.services5 {
    background-color: #ffe6ac; 
    border: none; 
    margin-bottom: 20px;
}

.services5 img {
    width: 100%;
    height: auto;
    display: block;
}

.print h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.print p {
    margin-left: 10px;
}

.print button {
    background-color: #222; 
    color: white; 
    border: none; 
    padding: 30px 30px; 
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}



/* Our Vision */

.vision-image{
    width: 100%;
    height: 100%;
}
.vision {
    position: absolute;
    top: 5%;
    width: 100%;
    border: 10px;
    padding: 10px;
    left: auto;
    right: auto;
    justify-content: center;
    color: white;

}

.section-vision {
    position: relative;
}


/* Our Team */
.our-team h2 {
    font-size: 3rem;
    margin-bottom: 5px;
}

/* Our Team-John Doe */
.box2 {
    background-color: #ffe6ac; 
    border: none; 
    margin-bottom: 20px;
}

.box2 img {
    width: 100%;
    height: auto;
    display: block;
}

.john h3 {
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.john h4 {
    margin-left: 10px;
    margin-top: 0;
    border-bottom: 2px solid #c78c06;
    display: inline-block;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.john p {
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Our Team-Bob Rite */
.box3 {
    background-color: #ffe6ac; 
    border: none; 
    margin-bottom: 20px;
}

.box3 img {
    width: 100%;
    height: auto;
    display: block;
}

.bob h3 {
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.bob h4 {
    margin-left: 10px;
    margin-top: 0;
    border-bottom: 2px solid #c78c06;
    display: inline-block;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.bob p {
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Our Vision */

.vision-image {
    display: flex;
    flex-direction: column;
}

.vision h3 {
    font-size: 2rem;
}

.vision p {
    margin-top: 0;
}

.vision button {
    background-color: #222; 
    color: white; 
    border: 2px solid #c78c06;
    padding: 30px 30px; 
    font-size: 20px; 
}



/* Contact Us */
.contact-us h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.message h3 {
    font-size: 2rem;
    margin-bottom: 3px;
}


.form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message form div p {
    margin-bottom: 5px;
    line-height: 1;
}

.form div label {
    width: 100px;
}

textarea {
    height: 150px;
    box-sizing: border-box;
    resize: none;
    display: flex;
    width: 100%;
}

button[type="submit"] {
    background-color: #222;
    color: #c78c06;
    font-size: 1.2rem;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}



/* Hours of operation table */
.operation h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}


.table table {
    border-collapse: collapse;
    width: 100%;
}


.table th {
    border: 1px solid black;
    padding: 18px;
    text-align: center;
    font-weight: normal;
}


.table td {
    border: 1px solid black;
    padding: 18px;
    font-weight: normal;
}

.table th:first-child,
.table th:last-child {
    text-align: center;
}


.table th {
    background-color: #ffe6ac;
    color: black;
}



.location h3 {
    font-size: 2rem;
    margin-bottom: 10px;

}

.footer-box{
    background-color: #222;
    font-size: 0.8rem;
    color: #c78c06;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 0%;
}


@media screen and (min-width: 760px) {

    .wrap ul{
        display: flex;
        padding: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

   .wrap ul li{
        padding-right: 30px;
    }

    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
      }

    .services-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
      }

    .vision-image {
        display: flex;
        flex-direction: column;
    }
   
    .team-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
      }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 20px; 
      }

      
      .message, .location {
        grid-row: 1; 
      }
      
      .message {
        grid-column: 1 / 2; 
      }
      
      .location {
        grid-column: 2 / 3; 
        height: 100%; 
      }
      
      .operation {
        grid-column: 1 / 3; 
        grid-row: 2; 
      }
      
      .location iframe {
        width: 100%; 
        height: 100%; 
        border: none;
      }




}

