.container {
    max-width: 1200px;
}

/* common style */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.wrap {
    background-color: #222;
}

.wrap img {
    margin-left: 30px;
    margin-top: 30px;
}


.wrap ul li {
    list-style: none;
    padding-left: 0%;
    font-size: 1.5rem;
    text-align: center;
}

.wrap ul li a{
    text-decoration: none;
    color: #c78c06;
    line-height: 3;
    font-size: 22px;
}

li:hover {
    background-color: #c78c06;
}

.wrap li input {
    width: calc(90% - 80px); 
    padding: 10px; 
    padding-left: 5px;
    border: 1px solid white; 
    background-color: #fff; 
    color: #333; 
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.wrap li button {
    background-color: #222; /* 배경색 설정 */
    border: 2px solid #c78c06;
    color: #c78c06; /* 글자색 설정 */
    padding: 10px 10px; /* 내부 여백 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 텍스트에 밑줄 제거 */
    display: inline-block; /* 인라인 요소로 표시 */
    margin-left: 10px; /* 왼쪽 마진 추가 */
    cursor: pointer; /* 커서 스타일 설정 */
    position: absolute;
    margin-bottom: 10px;
}


.wrapper img {
    max-width: 100%;
    height: auto;
}

.wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper ul li {
    margin: 0;
    padding: 0;
}


/* Welcome to Three Star Media */

.wrap1 {
    position: relative;
    width: 100%;
}

.wrap1 img {
    width: 100%;
    height: auto;
    display: block;
}

.box {
    width: 760px;
    height: 300px;
    position: absolute; /* 절대적으로 위치를 지정하기 위해 설정 */
    top: 50%; /* 부모 요소의 상단에서 절반만큼 내려옵니다. */
    left: 50%; /* 부모 요소의 좌측에서 절반만큼 오른쪽으로 이동합니다. */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.5); /* 골드색 배경 설정 */
    color: white;
    padding: 20px; /* 내부 여백 설정 */
    max-width: 100% /* 최대 너비 설정 */
}

.box h1 {
    font-size: 4rem /* h1의 글자 크기 설정 */
}

.box p {
    font-size: 1rem; /* p의 글자 크기 설정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.box a {
    background-color: #c78c06; /* 배경색 설정 */
    color: #222; /* 글자색 설정 */
    padding: 25px 25px; /* 내부 여백 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 텍스트에 밑줄 제거 */
    display: inline-block; /* 인라인 요소로 표시 */
    position: absolute;
}

/* About us 작성 */
.section-about {
    background-color: #ffe6ac; 
    padding: 20px; /* 내부 여백 설정 */
    margin-top: -40px;
}

.section-about img {
    width: 100%; /* 이미지를 부모 요소의 가로 길이에 맞게 설정 */
    height: auto; /* 이미지의 가로 세로 비율을 유지하면서 크기 조정 */
    display: block; /* 이미지를 블록 요소로 설정하여 다른 요소와 수직으로 정렬 */
    margin-bottom: 20px; /* 이미지 아래에 여백 추가 */
}

.section-about .about {
    color: black; /* 텍스트 색상을 검정색으로 설정 */
}

.section-about h2 {
    font-size: 3rem; /* 제목의 글자 크기를 2rem으로 설정 */
    margin-bottom: 10px; /* 제목 아래에 여백 추가 */
}

.section-about p {
    font-size: 1rem; /* 문단의 글자 크기를 1rem으로 설정 */
    line-height: 1.5; /* 문단의 줄 간격을 1.5로 설정 */
    margin-bottom: 10px; /* 문단 아래에 여백 추가 */
}


/* Our Services 작성 */
.our-services h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}


/* gird 사용해서 작성 */
.services-container {
    grid-template-columns: 1fr; /* 화면 크기가 768px 이하일 때 열 하나로 변경 */
  }


/* Digital Transformation 조정 */
.services1 {
    background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
    border: none; /* 박스의 테두리를 지정합니다. */
    margin-bottom: 20px;
}

.services1 img {
    width: 100%;
    height: auto;
    display: block;
}

.digital-image {
    width: 100%;
}

.digital-image img {
    width: 100%;
    height: auto;
    display: block;
}

.services1 h3 {
    font-size: 2rem;
    margin-left: 10px;
}

.services1 p {
    margin-left: 10px;
}

.digital button {
    background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
    color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    padding: 30px 30px; /* 내부 여백을 추가합니다. */
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Marketing 조정 */
.services2 {
    background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
    border: none; /* 박스의 테두리를 지정합니다. */
    margin-bottom: 20px;
}

.services2 img {
    width: 100%;
    height: auto;
    display: block;
}

.marketing h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.marketing p {
    margin-left: 10px;
}

.marketing button {
    background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
    color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    padding: 30px 30px; /* 내부 여백을 추가합니다. */
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Video Production 조정 */
.services3 {
    background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
    border: none; /* 박스의 테두리를 지정합니다. */
    margin-bottom: 20px;
}

.services3 img {
    width: 100%;
    height: auto;
    display: block;
}

.video h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.video p {
    margin-left: 10px;
}

.video button {
    background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
    color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    padding: 30px 30px; /* 내부 여백을 추가합니다. */
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Web Development 조정 */
.services4 {
    background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
    border: none; /* 박스의 테두리를 지정합니다. */
    margin-bottom: 20px;
}

.services4 img {
    width: 100%;
    height: auto;
    display: block;
}

.web h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.web p {
    margin-left: 10px;
}

.web button {
    background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
    color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    padding: 30px 30px; /* 내부 여백을 추가합니다. */
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Print 조정 */
.services5 {
    background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
    border: none; /* 박스의 테두리를 지정합니다. */
    margin-bottom: 20px;
}

.services5 img {
    width: 100%;
    height: auto;
    display: block;
}

.print h3 {
   font-size: 2rem;
   margin-left: 10px;
}

.print p {
    margin-left: 10px;
}

.print button {
    background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
    color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
    border: none; /* 테두리를 없앱니다. */
    padding: 30px 30px; /* 내부 여백을 추가합니다. */
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}



/* Our Vision 작성 */
.vision-image {
    background-image: cover;
}



/* Our Team 작성 */
.our-team h2 {
    font-size: 3rem;
    margin-bottom: 5px;
}

/* Our Team-John Doe 조정 */
.box2 {
    background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
    border: none; /* 박스의 테두리를 지정합니다. */
    margin-bottom: 20px;
}

.box2 img {
    width: 100%;
    height: auto;
    display: block;
}

.john h3 {
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.john h4 {
    margin-left: 10px;
    margin-top: 0;
    border-bottom: 2px solid #c78c06;
    display: inline-block;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.john p {
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Our Team-Bob Rite 조정 */
.box3 {
    background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
    border: none; /* 박스의 테두리를 지정합니다. */
    margin-bottom: 20px;
}

.box3 img {
    width: 100%;
    height: auto;
    display: block;
}

.bob h3 {
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.bob h4 {
    margin-left: 10px;
    margin-top: 0;
    border-bottom: 2px solid #c78c06;
    display: inline-block;
    width: calc(100% - 20px);
    margin: 0 10px;
}

.bob p {
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Our Vision 조정 */
.vision h3 {
    font-size: 2rem;
}

.vision p {
    margin-top: 0;
}

.vision button {
    background-color: #222; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    border: 2px solid #c78c06;
    padding: 30px 30px; /* 내부 여백 설정 */
    font-size: 20px; /* 글자 크기 설정 */
}



/* Contact Us 작성 */
.contact-us h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.message h3 {
    font-size: 2rem;
    margin-bottom: 3px;
}



/* 모바일 사이즈에 맞게 label 길이 조정 */
.form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: flex;
}

.message form div p {
    margin-bottom: 5px;
    line-height: 1;
}

.form div label {
    width: 100px;
}

textarea {
    height: 150px;
    box-sizing: border-box;
    resize: none;
    display: flex;
    width: 100%;
}

button[type="submit"] {
    background-color: #222;
    color: #c78c06;
    font-size: 1.2rem;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}



/* Hours of operation 표 작성 */
.operation h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* 표의 테두리 스타일*/
.table table {
    border-collapse: collapse;
    width: 100%;
}

/* 표의 테두리와 셀 간의 간격 */
.table th {
    border: 1px solid black;
    padding: 18px;
    text-align: center;
    font-weight: normal;
}

/* 표의 데이터 셀 스타일 */
.table td {
    border: 1px solid black;
    padding: 18px;
    font-weight: normal;
}

.table th:first-child,
.table th:last-child {
    text-align: center;
}

/* 표의 헤더 셀 스타일 */
.table th {
    background-color: #ffe6ac;
    color: black;
}



.location h3 {
    font-size: 2rem;
    margin-bottom: 10px;

}



.footer-box{
    background-color: #222;
    font-size: 0.8rem;
    color: #c78c06;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 0%;
}



/* mobile version */
@media screen and (min-width: 760px) {
    
    .wrap img {
        margin-left: 20px;
        margin-top: 30px;
    }
    
    
    .wrap ul li {
        display: block;
        float: left;
        width: 10%;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .wrap ul li a{
        text-decoration: none;
        color: #c78c06;
        line-height: 3;
        font-size: 22px;
    }
    
  
    
    .wrap li input {
        width: calc(90% - 80px); /* 버튼의 너비를 고려하여 입력 필드의 너비를 설정합니다. */
        padding: 10px; /* 입력 필드 주위에 여백을 줍니다. */
        padding-left: 5px;
        border: 1px solid white; /* 테두리 스타일을 지정합니다. */
        background-color: #fff; /* 배경색을 흰색으로 설정합니다. */
        color: #333; /* 텍스트 색상을 지정합니다. */
        font-size: 20px; /* 글꼴 크기를 설정합니다. */
        display: inline-block;
        margin-bottom: 10px;
    }
    
    .wrap li button {
        background-color: #222; /* 배경색 설정 */
        border: 2px solid #c78c06;
        color: #c78c06; /* 글자색 설정 */
        padding: 10px 10px; /* 내부 여백 설정 */
        text-align: center; /* 텍스트 가운데 정렬 */
        text-decoration: none; /* 텍스트에 밑줄 제거 */
        display: inline-block; /* 인라인 요소로 표시 */
        margin-left: 10px; /* 왼쪽 마진 추가 */
        cursor: pointer; /* 커서 스타일 설정 */
        position: absolute;
        margin-bottom: 10px;
    }
    
    
    .wrapper img {
        max-width: 100%;
        height: auto;
    }
    
    .wrapper ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .wrapper ul li {
        margin: 0;
        padding: 0;
    }
    
    
    
    .wrap1 {
        position: relative;
    }
    
    .wrap1 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .box {
        width: 650px;
        height: 400px;
        position: absolute; /* 절대적으로 위치를 지정하기 위해 설정 */
        top: 50%; /* 부모 요소의 상단에서 절반만큼 내려옵니다. */
        left: 50%; /* 부모 요소의 좌측에서 절반만큼 오른쪽으로 이동합니다. */
        transform: translate(-50%, -50%); /* 중앙 정렬 */
        background-color: rgba(0, 0, 0, 0.5); /* 골드색 배경 설정 */
        color: white;
        
        max-width: 100% /* 최대 너비 설정 */
    }
    
    .box h1 {
        font-size: 4rem /* h1의 글자 크기 설정 */
    }
    
    .box p {
        font-size: 1rem; /* p의 글자 크기 설정 */
        text-align: left; /* 텍스트 왼쪽 정렬 */
    }
    
    .box a {
        background-color: #c78c06; /* 배경색 설정 */
        color: #222; /* 글자색 설정 */
        padding: 25px 25px; /* 내부 여백 설정 */
        text-align: center; /* 텍스트 가운데 정렬 */
        text-decoration: none; /* 텍스트에 밑줄 제거 */
        display: inline-block; /* 인라인 요소로 표시 */
        position: absolute;
    }
    
    /* About us 작성 */
    .section-about {
        background-color: #ffe6ac; 
        padding: 20px; /* 내부 여백 설정 */
    }
    
    .section-about img {
        width: 100%; /* 이미지를 부모 요소의 가로 길이에 맞게 설정 */
        height: auto; /* 이미지의 가로 세로 비율을 유지하면서 크기 조정 */
        display: block; /* 이미지를 블록 요소로 설정하여 다른 요소와 수직으로 정렬 */
        margin-bottom: 20px; /* 이미지 아래에 여백 추가 */
    }
    
    .section-about .about {
        color: black; /* 텍스트 색상을 검정색으로 설정 */
    }
    
    .section-about h2 {
        font-size: 3rem; /* 제목의 글자 크기를 2rem으로 설정 */
        margin-bottom: 10px; /* 제목 아래에 여백 추가 */
    }
    
    .section-about p {
        font-size: 1rem; /* 문단의 글자 크기를 1rem으로 설정 */
        line-height: 1.5; /* 문단의 줄 간격을 1.5로 설정 */
        margin-bottom: 10px; /* 문단 아래에 여백 추가 */
    }
    
    
    /* Our Services 작성 */
    .our-services h2 {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;/* 각 그리드 아이템의 최소 너비와 최대 너비를 설정 */
        grid-column-gap: 20px; /* 그리드 아이템 사이의 간격 */
        grid-row-gap: 20px;
        padding: 20px; /* 여백 추가 */
        grid-template-rows: auto;
      }

    .services-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px; /* 그리드 아이템 사이의 간격 */
        padding: 20px; /* 여백 추가 */
        grid-template-rows: auto;
    }
      
    
    /* Digital Transformation 조정 */
    .services1 {
        background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
        border: none; /* 박스의 테두리를 지정합니다. */
        margin-bottom: 20px;
    }
    
    .services1 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .digital-image {
        width: 100%;
    }
    
    .digital-image img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .services1 h3 {
        font-size: 2rem;
        margin-left: 10px;
    }
    
    .services1 p {
        margin-left: 10px;
    }
    
    .digital button {
        background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
        color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
        border: none; /* 테두리를 없앱니다. */
        padding: 30px 30px; /* 내부 여백을 추가합니다. */
        font-size: 1rem;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    /* Marketing 조정 */
    .services2 {
        background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
        border: none; /* 박스의 테두리를 지정합니다. */
        margin-bottom: 20px;
    }
    
    .services2 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .marketing h3 {
       font-size: 2rem;
       margin-left: 10px;
    }
    
    .marketing p {
        margin-left: 10px;
    }
    
    .marketing button {
        background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
        color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
        border: none; /* 테두리를 없앱니다. */
        padding: 30px 30px; /* 내부 여백을 추가합니다. */
        font-size: 1rem;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    /* Video Production 조정 */
    .services3 {
        background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
        border: none; /* 박스의 테두리를 지정합니다. */
        margin-bottom: 20px;
    }
    
    .services3 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .video h3 {
       font-size: 2rem;
       margin-left: 10px;
    }
    
    .video p {
        margin-left: 10px;
    }
    
    .video button {
        background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
        color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
        border: none; /* 테두리를 없앱니다. */
        padding: 30px 30px; /* 내부 여백을 추가합니다. */
        font-size: 1rem;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    /* Web Development 조정 */
    .services4 {
        background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
        border: none; /* 박스의 테두리를 지정합니다. */
        margin-bottom: 20px;
    }
    
    .services4 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .web h3 {
       font-size: 2rem;
       margin-left: 10px;
    }
    
    .web p {
        margin-left: 10px;
    }
    
    .web button {
        background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
        color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
        border: none; /* 테두리를 없앱니다. */
        padding: 30px 30px; /* 내부 여백을 추가합니다. */
        font-size: 1rem;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    /* Print 조정 */
    .services5 {
        background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
        border: none; /* 박스의 테두리를 지정합니다. */
        margin-bottom: 20px;
    }
    
    .services5 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .print h3 {
       font-size: 2rem;
       margin-left: 10px;
    }
    
    .print p {
        margin-left: 10px;
    }
    
    .print button {
        background-color: #222; /* 버튼의 배경색을 검은색으로 설정합니다. */
        color: white; /* 버튼의 글자색을 흰색으로 설정합니다. */
        border: none; /* 테두리를 없앱니다. */
        padding: 30px 30px; /* 내부 여백을 추가합니다. */
        font-size: 1rem;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    
    
    /* Our Vision 작성 */
    
    
    
    
    /* Our Team 작성 */
    .our-team h2 {
        font-size: 3rem;
        margin-bottom: 5px;
    }

    .team-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    

    /* Our Team-John Doe 조정 */
    .box2 {
        background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
        border: none; /* 박스의 테두리를 지정합니다. */
        margin-bottom: 20px;
    }
    
    .box2 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .john h3 {
        font-size: 2rem;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    .john h4 {
        margin-left: 10px;
        margin-top: 0;
        border-bottom: 2px solid #c78c06;
        display: inline-block;
        width: calc(100% - 20px);
        margin: 0 10px;
    }
    
    .john p {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    
    /* Our Team-Bob Rite 조정 */
    .box3 {
        background-color: #ffe6ac; /* 박스의 배경색을 지정합니다. */
        border: none; /* 박스의 테두리를 지정합니다. */
        margin-bottom: 20px;
    }
    
    .box3 img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .bob h3 {
        font-size: 2rem;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    .bob h4 {
        margin-left: 10px;
        margin-top: 0;
        border-bottom: 2px solid #c78c06;
        display: inline-block;
        width: calc(100% - 20px);
        margin: 0 10px;
    }
    
    .bob p {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    
    /* Our Vision 조정 */
    .vision h3 {
        font-size: 2rem;
    }
    
    .vision p {
        margin-top: 0;
    }
    
    .vision button {
        background-color: #222; /* 배경색 설정 */
        color: white; /* 글자색 설정 */
        border: 2px solid #c78c06;
        padding: 30px 30px; /* 내부 여백 설정 */
        font-size: 20px; /* 글자 크기 설정 */
    }
    
    
    
    /* Contact Us 작성 */
    .contact-us h2 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    
    .message h3 {
        font-size: 2rem;
        margin-bottom: 3px;
    }
    
    
    
    /* 모바일 사이즈에 맞게 label 길이 조정 */
    .form div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: flex;
    }
    
    .message form div p {
        margin-bottom: 5px;
        line-height: 1;
    }
    
    .form div label {
        width: 100px;
    }
    
    textarea {
        height: 150px;
        box-sizing: border-box;
        resize: none;
        display: flex;
        width: 100%;
    }
    
    button[type="submit"] {
        background-color: #222;
        color: #c78c06;
        font-size: 1.2rem;
        padding: 5px 5px;
        border: none;
        cursor: pointer;
    }
    
    
    
    /* Hours of operation 표 작성 */
    .operation h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    /* 표의 테두리 스타일*/
    .table table {
        border-collapse: collapse;
        width: 100%;
    }
    
    /* 표의 테두리와 셀 간의 간격 */
    .table th {
        border: 1px solid black;
        padding: 18px;
        text-align: center;
        font-weight: normal;
    }
    
    /* 표의 데이터 셀 스타일 */
    .table td {
        border: 1px solid black;
        padding: 18px;
        font-weight: normal;
    }
    
    .table th:first-child,
    .table th:last-child {
        text-align: center;
    }
    
    /* 표의 헤더 셀 스타일 */
    .table th {
        background-color: #ffe6ac;
        color: black;
    }
    
    .location {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        text-align: left;
    }
    
    .location iframe {
        width: 100%;
        height: 450px;
    }
    
    .location h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    
    }
    
    .footer-box{
        background-color: #222;
        font-size: 0.8rem;
        color: #c78c06;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 0%;
    }




}